<span id="login-heading">Blogger</span>
<div class='section'>
  <p>Create private and public blogs.</p>
</div>
<div class='divider'></div>
<div class='section'>
  <a href='/auth/google' class='btn red darken-1'>
    <i class='left fab fa-google'></i>
    Sign up with google
  </a>
</div>